<div class="container mt-4 mb-3">

  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-circle"></i>&nbsp;
    {{ errorMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  {% if 1 == success %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4><i class="bi bi-check-circle"></i> {{lang('neworder.message.success')}}</h4>
    {{lang('neworder.id')}}: {{order['id']}}<br>
    {{lang('neworder.service')}}: {{order['service']}}<br>
    {{lang('neworder.link')}}: {{order['link']}}<br>
    {{lang('neworder.quantity')}}: {{order['quantity']}}<br>
    {{lang('neworder.charge')}}: {{order['charge']}}<br>
    {{lang('neworder.balance')}}: {{order['balance']}}<br>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  {% if 2 == success %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4><i class="bi bi-check-circle"></i> {{lang('neworder.message.success')}}</h4>
    {{lang('neworder.subscription_id')}}: {{order['id']}}<br>
    {{lang('neworder.service')}}: {{order['service']}}<br>
    {{lang('neworder.username')}}: {{order['link']}}<br>
    {{lang('neworder.quantity')}}:
    {% if order['quantity_min'] == order['quantity_max'] %}
      {{order['quantity_max']}}<br>
    {% else %}
      {{order['quantity_min']}}-{{order['quantity_max']}}<br>
    {%endif%}
    {{lang('neworder.new_posts')}}:
    {% if 0 == order['posts'] %}
      &#8734;<br>
    {% else %}
      {{order['posts']}}<br>
    {%endif%}
    {{lang('neworder.delay')}}: {{order['delay']}}<br>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endif%}
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-md-7">

      <h1 class="mb-3 display-5">
        <i class="bi bi-cart-plus d-none d-lg-inline-block"></i>
        <span class="fw-bold">Order</span>
        <small class="text-muted display-6 fw-bold">Servis Baharu</small>
      </h1>
    
      <div class="card mb-3 bg-primary-lighter">
        <div class="card-body">
          <i class="bi bi-bookmark-star-fill"></i> TOP UP MINIMUM RM20 <i class="bi bi-bookmark-star-fill"></i> JIKA ANDA TOP UP RM30 DAPAT BONUS 2.5% <i class="bi bi-bookmark-star-fill"></i> Harga SERVICE semakin murah. Tiada cas untuk payment online atau manual.. Free for all!. KENAPA NAK TPOP UP RM20 , KALAU TOP UP RM30 DAPAT BONUS.
        </div>
      </div>
    
      <div class="row g-2 mb-3">
        <div class="col-12">
          <div class="card mb-3 bg-light border-0 shadow">
            <div class="card-body text-dark d-flex align-items-center px-4 py-5 py-lg-3">
              <span class="text-center text-lg-start d-flex flex-column w-100">
                <div>
                  <span class="d-block d-lg-inline text-muted">
                    <i class="display-2 d-lg-none bi bi-person-circle"></i>
                    <i class="fs-2 d-none d-lg-inline bi bi-person-circle"></i>
                  </span>
                  <span class="d-none d-lg-inline">&nbsp;&nbsp;</span>
                  <span class="fw-bold fs-1 text-muted">{{ user['username'] }}</span>
                </div>
                <div class="fw-light">Selamat Kembali!</div>
              </span>
            </div>
          </div>
    
        </div>
        <div class="col-12">
          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-2 g-lg-3">
            <div class="col">
              <div class="h-100 card mb-2 mb-lg-1 mb-xl-3 bg-primary"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ user['balance'] }}"
              >
                <div class="card-body text-light d-flex align-items-center">
                  <span class="ms-2 me-4">
                    <i class="bi bi-wallet2"></i>
                  </span>
                  <span class="d-flex flex-column">
                    <div class="fw-light">Baki Akaun</div>
                    <div class="fw-bold fs-4">RM{{ (user['balance'][2:] < 1000) ? user['balance'][2:]|number_format(2, '.', ',') : user['balance'][2:]|number_format(0) }}</div>
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="h-100 card mb-2 mb-lg-1 mb-xl-3 bg-primary"
                data-bs-toggle="tooltip" data-bs-placement="top" title="RM{{ user['spent'] }}"
              >
                <div class="card-body text-light d-flex align-items-center">
                  <span class="ms-2 me-4">
                    <i class="bi bi-receipt"></i>
                  </span>
                  <span class="d-flex flex-column">
                    <div class="fw-light">Perbelanjaan</div>
                    <div class="fw-bold fs-4">RM{{ (user['spent'] < 1000) ? user['spent']|number_format(2) : user['spent']|number_format() }}</div>
                  </span>
                </div>
              </div>
            </div>
            <div class="col col-lg-12">
              <div class="h-100 card mb-2 mb-lg-1 mb-xl-3 bg-primary">
                <div class="card-body text-light d-flex align-items-center">
                  <span class="ms-2 me-4">
                    <i class="bi bi-bell"></i>
                  </span>
                  <span class="d-flex flex-column">
                    <div class="fw-light">Status Akaun</div>
                    <div class="fw-bold fs-4">VIP</div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <form action="{{ page['url'] }}" method="post" id="order-form">

        {% if categories %}
        <div class="form-floating mb-3">
          <select id="orderform-category" class="form-select" name="OrderForm[category]">
            {% for categoryId,categoryName in categories %}
            <option value="{{ categoryId }}" {% if categoryId == data['category'] %} selected {% endif %}>{{ categoryName }}</option>
            {%endfor%}
          </select>
          <label for="orderform-category">{{ lang('neworder.category') }}</label>
        </div>
        {% endif %}

        <div class="form-floating mb-3">
          <select id="orderform-service" class="form-select" name="OrderForm[service]"></select>
          <label for="orderform-service">{{ lang('neworder.service') }}</label>
        </div>

        <div class="form-control hidden fields mb-3" id="service_description">
          <label for="service_description">{{ lang('neworder.description') }}</label>
          <div class="panel-body border-solid border-rounded">
            {{service['description']}}
          </div>
        </div>

        <div id="fields"></div>

        <div class="mb-3">
          <input id="charge" class="form-control" value="{{ order['charge'] }}" type="text" placeholder="Sila pilih servis untuk lihat amaun" readonly>
          <label for="charge" class="text-muted form label">{{ lang('neworder.charge') }}</label>
        </div>

        {% if check_agreement %}
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="1" id="terms" {{data['termsofservice'] ? 'checked' : ''}}>
          <label class="form-check-label" for="terms">
            <span>{{ lang('signup.accept_terms_text') }}</span>
            <a href="{{ page_url('terms') }}" target="_blank">{{ lang('terms.terms_of_service') }}</a>
          </label>
        </div>
        {%endif%}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
        <button type="submit" class="btn btn-primary btn-lg">Hantar&nbsp;&nbsp;<i class="bi bi-credit-card"></i></button>
      </form>
    </div>

    <div class="col-12 d-md-none"><hr></div>

    <div class="col-md-5">
      <div class="d-grid mb-3">
        <a class="btn btn-outline-primary" href="https://t.me/joinchat/LxWnuVcUdIyTEvvOaMfFzg">
          <h1 class="display-6 my-1">
            Telegram <i class="bi bi-telegram"></i>
          </h1>
        </a>
      </div>

      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Rujukan Emoji</div>
        <div class="card-body row">
          <div class="col-xs-3">
            ⭐Best Seller
          </div>
          <div class="col-xs-3">
            ⚡️Instant
          </div>
          <div class="col-xs-3">
            ⚡️⚡️⚡️Super Instant
          </div>
          <div class="col-xs-3">
            🔥 Exclusive Service
          </div>
          <div class="col-xs-3">
            ♻ Refill Button On
          </div>
          <div class="col-xs-3">
            💧 Drip Feed On
          </div>
          <div class="col-xs-3">
            ⛔ Cancel Button On
          </div>
        </div>
      </div>
      <div class="card mb-3 bg-dark text-white">
        <div class="card-header">
          Tutorial
        </div>
        <div class="card-thumbnail">
          <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/KX0vX0FmYfQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="container my-5"><hr></div>

{% if newOrderText %}
{{ newOrderText }}
{% endif %}
