<div class="position-relative">
    {% if success or error %}
    <div class="px-5 py-4 position-absolute end-0 w-100 d-flex justify-content-end">
        <div class="alert {% if success %} alert-success {% elseif error %} alert-danger {% else %} alert-warning {% endif %} alert-dismissable fade show align-items-center justify-content-between d-flex px-4 flex-grow-1 flex-sm-grow-0" role="alert">
            <div class="d-flex align-items-center">
                <div>
                    {% if success %} {{ successText }} {% endif %}
                    {% if error %} {{ errorText }} {% endif %}
                    {% if not success and not error %} Abaikan mesej ini... {% endif %}
                </div>
            </div>
            <div class="mx-4"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
    <div class="container pt-3 pt-md-5 mb-3 mb-md-5 pb-md-6">
        <div class="d-flex mx-lg-5 px-md-4">
            <div class="nav flex-column nav-pills me-5 d-none d-lg-block" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="p-4 nav-link shadow mb-4 active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </button>
                <button class="p-4 nav-link shadow" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </button>
            </div>
            <div class="d-flex flex-column justify-content-center flex-grow-1 overflow-hidden rounded-5">
                <div class="p-5" style="background-image: url(https://cdn.mypanel.link/af5a5a/eq5le1xgnbs72wt1.png); background-size: cover; background-repeat: none;">
                    <h1 class="text-primary mb-5 fw-light">Halaman Akaun</h1>
                    <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
                        <div class="me-md-4 px-4 py-3 rounded-3 bg-primary text-light d-flex align-items-center justify-content-start w-100 mb-md-0 mb-3">
                            <div class="ms-2 me-4 align-items-center bg-light text-primary d-flex justify-content-center rounded-circle" style="height: 40px; width: 40px;">
                                <svg width="24px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Wallet</title><path d="M95.5 104h320a87.73 87.73 0 0111.18.71 66 66 0 00-77.51-55.56L86 94.08h-.3a66 66 0 00-41.07 26.13A87.57 87.57 0 0195.5 104zM415.5 128h-320a64.07 64.07 0 00-64 64v192a64.07 64.07 0 0064 64h320a64.07 64.07 0 0064-64V192a64.07 64.07 0 00-64-64zM368 320a32 32 0 1132-32 32 32 0 01-32 32z"/><path d="M32 259.5V160c0-21.67 12-58 53.65-65.87C121 87.5 156 87.5 156 87.5s23 16 4 16-18.5 24.5 0 24.5 0 23.5 0 23.5L85.5 236z"/></svg>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-light">Baki</span>
                                <span class="h4 fw-bold">RM{{ (user['balance'][2:] < 1000) ? user['balance'][2:]|number_format(2, '.', ',') : user['balance'][2:]|number_format(0) }}</span>
                            </div>
                        </div>
                        <div class="px-4 py-3 rounded-3 bg-primary text-light d-flex align-items-center justify-content-start w-100">
                            <div class="ms-2 me-4 align-items-center bg-light text-primary d-flex justify-content-center rounded-circle" style="height: 40px; width: 40px;">
                                <svg width="24px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Receipt</title><path d="M483.82 32.45a16.28 16.28 0 00-11.23 1.37L448 46.1l-24.8-12.4a16 16 0 00-14.31 0l-25.11 12.41L359 33.7a16 16 0 00-14.36 0L320 46.07l-24.45-12.34a16 16 0 00-14.35-.06L256 46.12l-24.8-12.43a16.05 16.05 0 00-14.33 0L192 46.1l-24.84-12.41a16 16 0 00-19.36 3.94 16.25 16.25 0 00-3.8 10.65V288l.05.05H336a32 32 0 0132 32V424c0 30.93 33.07 56 64 56h12a52 52 0 0052-52V48a16 16 0 00-12.18-15.55zM416 240H288.5c-8.64 0-16.1-6.64-16.48-15.28A16 16 0 01288 208h127.5c8.64 0 16.1 6.64 16.48 15.28A16 16 0 01416 240zm0-80H224.5c-8.64 0-16.1-6.64-16.48-15.28A16 16 0 01224 128h191.5c8.64 0 16.1 6.64 16.48 15.28A16 16 0 01416 160z"/><path d="M336 424v-88a16 16 0 00-16-16H48a32.1 32.1 0 00-32 32.05c0 50.55 5.78 71.57 14.46 87.57C45.19 466.79 71.86 480 112 480h245.68a4 4 0 002.85-6.81C351.07 463.7 336 451 336 424z"/></svg>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-light">Perbelanjaan</span>
                                <span class="h4 fw-bold">RM{{ (user['spent'] < 1000) ? user['spent']|number_format(2) : user['spent']|number_format() }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav nav-pills d-flex d-lg-none" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="p-4 nav-link shadow flex-grow-1 rounded-0 active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </button>
                    <button class="p-4 nav-link shadow flex-grow-1 rounded-0" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="p-5 tab-pane fade active show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style="background-color: #FBFCFD;">
    
                        <form method="post" action="">
                            <input type="hidden" name="_csrf" value="{{csrftoken}}">
                            <div class="d-flex flex-column flex-md-row justify-content-between align-items-start mb-4">
                                <div class="d-flex align-items-center mb-3 mb-md-0">
                                    <span class="fs-4 fw-light me-2">Kemaskini Akaun</span>
                                    <span class="badge rounded-pill d-flex align-items-center px-3">
                                        <span class="fs-6 me-1">VIP</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </div>
                                <button class="btn btn-primary px-3 px-md-4 py-md-3" type="submit">
                                    <span class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                    <span class="fs-6 fw-light">simpan <span class="d-none d-md-inline">perubahan</span></span>
                                </button>
                            </div>
    
                            <hr class="my-5" style="height: .5px;">
    
                            <div class="row mb-3">
                                <div class="col-sm-7 d-flex flex-column">
                                    <label for="username" class="control-label mb-1">Username</label>
                                    <span id="UsernameHelp" class="form-text lead lh-lg mb-2 mb-md-0">
                                        Username anda tidak boleh ditukar dan ia adalah muktamad
                                    </span>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="username" value="{{ user['username'] }}" readonly>
                                </div>
                            </div>
    
                            <hr class="my-5" style="height: .5px;">
    
                            <div class="row mb-3">
                                <div class="col-sm-7 d-flex flex-column">
                                    <label for="current" class="control-label mb-1">Kata Laluan Semasa</label>
                                    <span id="PasswordCurrentHelp" class="form-text lead lh-lg mb-2 mb-md-0">
                                        Isi kata laluan yang masih digunakan pada masa sekarang
                                    </span>
                                </div>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="current" name="SettingsFrom[current_password]">
                                </div>
                            </div>
    
                            <hr class="my-5" style="height: .5px;">
    
                            <div class="row mb-3">
                                <div class="col-sm-7 d-flex flex-column">
                                    <label for="new" class="control-label mb-1">Kata Laluan Baru</label>
                                    <span id="PasswordNewHelp" class="form-text lead lh-lg mb-2 mb-md-0">
                                        Untuk sekuriti maksima, kata laluan anda perlu mengandungi:
                                        <ul style="list-style-position: inside; padding-left: 0;">
                                            <li>Melebihi 8 aksara</li>
                                            <li>1 huruf besar dan lebih</li>
                                            <li>1 aksara unik dan lebih</li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="new" name="SettingsFrom[password]">
                                </div>
                            </div>
    
                            <div class="row mb-3">
                                <div class="col-sm-7 d-flex flex-column">
                                    <label for="confirm" class="control-label mb-1">Sah Kata Laluan Baharu</label>
                                    <span id="PasswordNewConfirmHelp" class="form-text lead lh-lg mb-2 mb-md-0">
                                        Isi semula kata laluan baharu yang anda isi
                                    </span>
                                </div>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="confirm" name="SettingsFrom[confirm_password]">
                                </div>
                            </div>
                        </form>
    
                    </div>
                    <div class="p-5 tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" style="background-color: #FBFCFD;">
    
                        <form method="post" action="">
                            <input type="hidden" name="_csrf" value="{{csrftoken}}">
                            <div class="d-flex flex-column flex-md-row justify-content-between align-items-start mb-4">
                                <span class="fs-4 fw-light me-2 mb-3 mb-md-0">Tetapan Tambahan</span>
                                <button class="btn btn-primary px-3 px-md-4 py-md-3" type="submit">
                                    <span class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                    <span class="fs-6 fw-light">simpan <span class="d-none d-md-inline">perubahan</span></span>
                                </button>
                            </div>
    
                            <hr class="my-5" style="height: .5px;">
    
                            {% if true or site['languages']|length > 1 %}
    
                            <div class="row mb-3 flex-grow-1">
                                <div class="col-sm-7 d-flex flex-column">
                                    <label for="language" class="control-label mb-1">Bahasa</label>
                                    <span id="LanguageHelp" class="form-text lead lh-lg mb-2 mb-md-0">
                                        Tukar tetapan bahasa yang ada di dalam sistem (untuk sekarang, kami hanya sediakan bahasa Malaysia)
                                    </span>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-select" id="language" name="SettingsFrom[lang]">
                                        {% for language in site['languages'] %}
                                        <option value="{{ language['code'] }}" {% if language['code'] == user['lang'] %}selected{% endif %}>{{ language['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
    
                            <hr class="my-5" style="height: .5px;">
    
                            {% endif %}
    
                            <div class="row mb-3 flex-grow-1">
                                <div class="col-sm-7 d-flex flex-column">
                                    <label for="timezone" class="control-label mb-1">Zon Masa</label>
                                    <span id="LanguageHelp" class="form-text lead lh-lg mb-2 mb-md-0">
                                        Pilih zon masa yang anda mahu kaitkan dengan simpanan rekod
                                    </span>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-select" name="SettingsFrom[timezone]" id="timezone">
                                    {% for timezone,label in timezones %}
                                        <option value="{{timezone}}" {% if timezone == user['timezone'] %}selected{% endif %}>{{label}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
    
                        </form>
    
                        <hr class="my-5" style="height: .5px;">
    
                        <form action="{{ page['url'] }}/newkey" method="post" class="d-flex flex-column">
                            <input type="hidden" name="_csrf" value="{{csrftoken}}">
                            <div class="row mb-3 flex-grow-1">
                                <div class="col-sm-7 d-flex flex-column">
                                    <label for="key" class="control-label">Kunci API</label>
                                    <span id="LanguageHelp" class="form-text lead lh-lg mb-2 mb-md-0">
                                        Kunci API digunakan untuk sambung ke sistem anda yang lain
                                    </span>
                                </div>
                                <div class="col-sm-5">
                                    {% if user['is_generated_apikey'] %}
                                    <input type="text" class="form-control" id="api_key" value="{{ user['apikey'] }}" readonly>
                                    {% else %}
                                    <input type="text" class="form-control" value="Kunci API belum dibuat! Sila tekan 'Jana Baru'" readonly>
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary align-self-end">
                                <span class="fw-light">Jana Baru</span>
                            </button>
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>