<div class="container my-3 my-md-5">

  <div class="row align-items-center mb-0 mb-xsm-2">
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="mb-0 mb-xsm-2">
        <h1 class="mb-1 text-muted">
          <i class="bi bi-hourglass-split d-inline-block"></i>
          <span>Subscription</span>
          </h1>
        <h6 class="text-primary d-none d-sm-block">@TokeyFollower</h6>
      </div>
    </div>
    <hr class="d-block d-sm-none">
    <div class="col-12 col-sm-6 border-start d-none d-xsm-block">
      <span class="lead fs-6 d-inline-block d-md-none"> Semak <em>subscription</em> anda anda di page ini.</span>
      <span class="lead fs-5 d-none d-md-inline-block"> Semak <em>subscription</em> anda anda di page ini.</span>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-between">
    <ul class="nav nav-pills mb-3 flex-column flex-md-row">
      <li class="nav-item"><a class="nav-link {% if 'active' == status %}active{% endif %}" href="{{ page['url'] }}/active">{{ lang('subscriptions.status.active') }}</a></li>
      <li class="nav-item"><a class="nav-link {% if 'paused' == status %}active{% endif %}" href="{{ page['url'] }}/paused">{{ lang('subscriptions.status.paused') }}</a></li>
      <li class="nav-item"><a class="nav-link {% if 'completed' == status %}active{% endif %}" href="{{ page['url'] }}/completed">{{ lang('subscriptions.status.completed') }}</a></li>
      <li class="nav-item"><a class="nav-link {% if 'expired' == status %}active{% endif %}" href="{{ page['url'] }}/expired">{{ lang('subscriptions.status.expired') }}</a></li>
      <li class="nav-item"><a class="nav-link {% if 'canceled' == status %}active{% endif %}" href="{{ page['url'] }}/canceled">{{ lang('subscriptions.status.canceled') }}</a></li>
    </ul>
    <div class="search mb-3">
      <form action="{{ page['url'] }}" method="get" id="history-search">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Isi Carian" value="{{search}}">
          <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="card shadow border-0 rounded-5 overflow-hidden mb-5">
    <div class="table-responsive">
      <table class="table table-striped m-0">
        <thead class="table-primary">
        <tr>
          <th>{{ lang('subscriptions.id') }}</th>
          <th>{{ lang('subscriptions.username') }}</th>
          <th>{{ lang('subscriptions.quantity') }}</th>
          <th>{{ lang('subscriptions.posts') }}</th>
          <th>{{ lang('subscriptions.delay') }}</th>
          <th>{{ lang('subscriptions.service') }}</th>
          <th>{{ lang('subscriptions.status') }}</th>
          <th>{{ lang('subscriptions.created') }}</th>
          <th>{{ lang('subscriptions.updated') }}</th>
          <th>{{ lang('subscriptions.expiry') }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        {% for order in orderList %}
          <tr>
            <td><small class="text-muted">{{ order['id'] }}</small></td>
            <td class="link">{{ order['link'] }}</td>
            <td class="nowrap table-primary"><small>{% if order['quantity_min'] == order['quantity_max'] %}{{ order['quantity_max']}}{% else %}{{ order['quantity_min'] }} - {{ order['quantity_max'] }}{% endif %}</small></td>
            <td class="nowrap table-primary">
              <small>
                {% if order['current_count'] %}
                  <a href="{{ page_url('orders') }}?subscription={{ order['id'] }}">{{ order['current_count'] }}</a>
                {% else %}
                  {{ order['current_count'] }}
                {% endif %}
                / {% if order['quantity'] == 0 %}&#8734;{% else %}{{ order['quantity'] }}{% endif %}
              </small>
            </td>
            <td>{{ order['delay'] }}</td>
            <td class="table-primary"><small>{{ order['service'] }}</small></td>
            <td>{{ order['status_name'] }}</td>
            <td><small class="text-muted">{{ order['date_created'] }}</small></td>
            <td><small class="text-muted">{{ order['date_updated'] }}</small></td>
            <td class="table-primary"><small>{{ order['date_expiry'] }}</small></td>
            <td>
              {% if order['status'] == 1 or order['status'] == 0 %}
                <a href="{{ page['url'] }}/stop/{{order['id']}}" class="btn btn-outline-primary btn-sm btn-block">Cancel<a>
              {% endif %}
              {% if order['status'] == 2 %}
                <a href="{{ page['url'] }}/resume/{{order['id']}}" class="btn btn-outline-primary btn-sm btn-block">Unpause<a>
              {% endif %}
              {% if order['status'] == 3 or order['status'] == 4 or order['status'] == 5 %}
                <a href="{{ page['url'] }}/reorder/{{order['id']}}" class="btn btn-outline-primary btn-sm btn-block">Reorder<a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  {% if pagination['count'] > 100 %}
    <ul class="pagination">
      {% if pagination['current'] != 1 %}
        <li>
          <a href="{{ page['url'] }}/{{ status }}/{{ pagination['last'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% set r, l = 3, 3 %}

      {% if pagination['current'] == 1 %}
        {% set r = 6 %}
      {% endif %}

      {% if pagination['current'] == 2 %}
        {% set r = 5 %}
      {% endif %}

      {% if pagination['current'] >= pagination['pages'] %}
        {% set l = 5 %}
      {% endif %}

      {% for i in 1..ceil(pagination['pages']) %}
        {% if i >= (pagination['current']-l) and i <= (pagination['current']+r) %}
          <li{% if i == pagination['current'] %} class="active"{% endif %}><a href="{{ page['url'] }}/{{ status }}/{{i}}{% if search %}?search={{ search }}{% endif %}">{{i}}</a></li>
        {% endif %}
      {% endfor %}

      {% if pagination['current'] < pagination['pages'] %}
        <li>
          <a href="{{ page['url'] }}/{{ status }}/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {%endif%}
    </ul>
  {% endif %}

</div>
