<!DOCTYPE html>
<html lang="{{site['language']}}">
<head>









  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">






  {% if not user['auth'] %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endif %}

  






  <title>{{ page['title'] }}</title>
  <meta name="keywords" content="{{ site['seo_key'] }}">
  <meta name="description" content="{{ site['seo_desc'] }}">
  {% if site['favicon'] %}
    <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
  {% endif %}

  {{ site['custom_header'] }}

  {% for style in site['styles'] %}
    <link rel="stylesheet" type="text/css" href="{{ style['href'] }}">
  {% endfor %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>
<body>

<!-- MAIN STUFF -->

{% if user['auth'] %}
<div id="admin-page">
{% endif %}
  {% if user['auth'] %}
  <div id="admin-wrapper">
  {% endif %}
    {% if user['auth'] %}







    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <a href="{{ page_url('index') }}">
          {% if site['logo'] %}
          <img class="img-responsive" src="{{ site['logo'] }}" alt="{{ site['name'] }}" title="{{ site['name'] }}">
          {% else %}
          <p>{{ site['name'] }}</p>
          {% endif %}
        </a>
        <strong>TF</strong>
      </div>






      <ul class="list-unstyled components">
        {% for menu in site['menu'] %}
        <li{% if menu['active'] %} class="active" {% endif %}>
          <a href="{{ menu['link'] }}">{{ menu['name'] }}</a>
        </li>
        {% endfor %}
      </ul>

    </nav>
    {% endif %}

    <!-- Page Content Holder -->
    {% if user['auth'] %}
    <div id="admin-content">
    {% else %}
    <div id="home-content">
    {% endif %}










      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">

            {% if user['auth'] %}
            {% else %}
            <a class="navbar-brand" href="{{ page_url('index') }}">
              {% if site['logo'] %}
              <img class="img-responsive" src="{{ site['logo'] }}" alt="{{ site['name'] }}" title="{{ site['name'] }}">
              {% else %}
              <p>{{ site['name'] }}</p>
              {% endif %}
            </a>
            {% endif %}

            {% if user['auth'] %}
            <!-- Sidebar's hamburger -->
            <button type="button" id="sidebarCollapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>                
            {% endif %}

            <!-- Navbar's hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-drawer" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <div id="navbar-drawer" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              {% if user['auth'] %}
                <!-- If logged in -->
                <li><a href="https://tokeyfollower.com/addfunds"><span class="label label-default">{{ user['balance'] }}</span></a>
                </li>
                <li{% if 'account' == site['active_menu'] %} class="active" {% endif %}><a href="{{ page_url('account') }}">{{ lang('account.title') }}</a>
                </li>
                <li><a href="{{ page_url('logout') }}"><i class="fa fa-sign-out-alt"></i> {{ lang('signin.logout') }}</a>
                </li>
              {% else %}
                <!-- If not logged in -->
                <li><a href="https://tokeyfollower.com/signup">Sign Up</a></li>
                {% for menu in site['menu'] %}
                <li{% if menu[ 'active'] %} class="active" {% endif %}><a href="{{ menu['link'] }}">{{ menu['name'] }}</a></li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>

        </div>

      </nav>








      <!-- Header Widgets -->
      <div class="section section-margin c-widget-container">
        <div class="c-widget-item">
          <span class="c-widget-icon"><i class="fa fa-user-circle"></i></span>
          <span class="c-widget-content"><div class="c-widget-item-desc">Hello user!</div><div>{{ user['username'] }}</div></span>
        </div>
        <div class="c-widget-item">
          <span class="c-widget-icon"><i class="fa fa-dollar-sign"></i></span>
          <span class="c-widget-content"><a href="https://tokeyfollower.com/addfunds"></a><div class="c-widget-item-desc">Balance in account</div><div>{{ user['balance'] }}</div></a></span>
        </div>
        <div class="c-widget-item">
          <span class="c-widget-icon"><i class="fa fa-dollar-sign"></i></span>
          <span class="c-widget-content"><div class="c-widget-item-desc">Total order in TF</div><div>{{ site['counterOrdersAll'] }}</div></span>
        </div>
        <div class="c-widget-item">
          <span class="c-widget-icon"><i class="fa fa-dollar-sign"></i></span>
          <span class="c-widget-content"><div class="c-widget-item-desc">Account status</div><div>VIP</div></span>
        </div>
      </div>

      <div id="page-content">
        {{ content }}
      </div>















      <footer id="section-footer" class="bg-primary py-md text-white text-center">
        <h3>Copyright &copy; TokeyFollower 2019</h3>
        <small><div>Icons made by <a href="https://www.flaticon.com/authors/skyclick" title="Skyclick">Skyclick</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></small>
      </footer>









{% for script in site['scripts'] %}
  <script type="text/javascript" {% if script['src'] %} src="{{ script['src'] }}" {% endif %}>
    {% if script['code'] %} {{ script['code'] }} {% endif %}
  </script>
{% endfor %}

<!-- Beamer configuration -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script>
  $('#news-very-important-button-close').on('click', function() {
    $('#news-very-important-container').css({'display':'none'});
  });
  

	var beamer_config = {
		product_id : 'YaLWHCSi13570' //DO NOT CHANGE: This is your product code on Beamer
	};
</script>
<script type="text/javascript" src="https://app.getbeamer.com/js/beamer-embed.js" defer="defer"></script>
</body>
</html>