<!DOCTYPE html>
<html lang="{{site['language']}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page['title'] }}</title>
  <meta name="keywords" content="{{ site['seo_key'] }}">
  <meta name="description" content="{{ site['seo_desc'] }}">
  {% if site['favicon'] %}
  <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
  {% endif %}

  {{ site['custom_header'] }}

  {% for style in site['styles'] %}
  <link rel="stylesheet" type="text/css" href="{{ style['href'] }}">    
  {% endfor %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
</head>
<body>

{% if user['auth'] %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ page_url('index') }}">
      {% if site['logo'] %}
        <img src="{{ site['logo'] }}" alt="{{ site['name'] }}" title="{{ site['name'] }}" width="80" height="50" class="d-inline-block align-middle">
      {% else %}
        {{ site['name'] }}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerAppNavBar" aria-controls="navbarTogglerAppNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarTogglerAppNavBar" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for menu in site['menu'] %}
        <li class="nav-item">
          <a {% if menu['active'] %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ menu['link'] }}" {% if menu['external'] %} target="_blank" {% endif %}>
            {% if menu['icon'] %}<i class="navbar-icon {{ menu['icon'] }}"></i>{% endif %}
            {{ menu['name'] }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% for menu in site['account_menu'] %}
        <li class="nav-item">
          <a {% if menu['active'] %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{ menu['link'] }}" {% if menu['external'] %} target="_blank" {% endif %}>{{ menu['name'] }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ page_url('index') }}">
      {% if site['logo'] %}
        <img src="{{ site['logo'] }}" alt="{{ site['name'] }}" title="{{ site['name'] }}" width="80" height="50" class="d-inline-block align-middle">
      {% else %}
        {{ site['name'] }}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerAppNavBar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarTogglerAppNavBar" class="collapse navbar-collapse">
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% for menu in site['menu'] %}
        <li class="nav-item">
          <a {% if menu['active'] %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{ menu['link'] }}" {% if menu['external'] %} target="_blank" {% endif %}>
            {% if menu['icon'] %}<i class="navbar-icon {{ menu['icon'] }}"></i>{% endif %}
            {{ menu['name'] }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endif %}

<!-- Main variables *content* -->
{{ content }}

{{ site['custom_footer'] }}

<footer class="bg-dark">
  <div class="container text-center text-light">
    <div class="py-5">
      <h6>Copyright@TokeyFollower2021</h6>
      <small class="text-muted">Icons made by Skyclick from www.flaticon.com is licensed by CC 3.0</small>
    </div>
  </div>
</footer>

{% for script in site['scripts'] %}
<script type="text/javascript" {% if script['src'] %}src="{{ script['src'] }}"{% endif %}>
  {% if script['code'] %} {{ script['code'] }} {% endif %}
</script>
{% endfor %}

<script type="text/javascript">
  $(document).ready(function(){
    $('.plugin-slick--carousel-universal').slick({
      dots: true,
      arrows: true,
      prevArrow: '<a type="button" class="btn btn-outline-secondary btn-sm mx-1 d-flex rounded-circle"><i class="bi bi-caret-left"></i></a>',
      nextArrow: '<a type="button" class="btn btn-outline-secondary btn-sm mx-1 d-flex rounded-circle"><i class="bi bi-caret-right"></i></a>',
    });
  });
</script>

</body>
</html>