<style>
  #addfunds-manual-mobiletransfer-image {
    max-width: 400px;z-index: -1;transform: rotateY(180deg);
    right: calc(20% - 12vw);
  }
  @media (max-width: 1199.98px) {
    #addfunds-manual-mobiletransfer-image {
      right: calc(17% - 16vw);
    }
  }
  @media (max-width: 991.98px) {
    #addfunds-manual-mobiletransfer-image {
      right: calc(6% - 16vw);
    }
  }
  @media (max-width: 767.98px) {
    #addfunds-manual-mobiletransfer-image {
      right: calc(6% - 16vw);
      opacity: .3;
    }
  }
</style>

<div class="container py-4 mb-3">

  <h1 class="mb-3 display-5">
    <i class="bi bi-wallet2"></i>
    <span class="fw-bold">Topup</span>
    <small class="text-muted display-6 fw-bold">Baki Akaun</small>
  </h1>

  <div class="card mb-3 bg-primary-lighter">
    <div class="card-body">
      <i class="bi bi-bookmark-star-fill"></i> TOP UP MINIMUM RM20 <i class="bi bi-bookmark-star-fill"></i> JIKA ANDA TOP UP RM30 DAPAT BONUS 2.5% <i class="bi bi-bookmark-star-fill"></i> Harga SERVICE semakin murah. Tiada cas untuk payment online atau manual.. Free for all!. KENAPA NAK TPOP UP RM20 , KALAU TOP UP RM30 DAPAT BONUS.
    </div>
  </div>

  <div class="row g-2 g-md-4 mb-3">
    <div class="col-12 col-md-4">
      <div class="card mb-3 bg-light border-0 shadow-sm h-100">
        <div class="card-body text-dark d-flex align-items-center px-4 py-5 py-lg-3">
          <span class="text-center text-lg-start d-flex flex-column w-100">
            <div>
              <span class="d-block d-lg-inline text-muted">
                <i class="display-2 d-lg-none bi bi-person-circle"></i>
                <i class="fs-2 d-none d-lg-inline bi bi-person-circle"></i>
              </span>
              <span class="d-none d-lg-inline">&nbsp;&nbsp;</span>
              <span class="fw-bold fs-1 text-muted">{{ user['username'] }}</span>
            </div>
            <div class="fw-light">Selamat Kembali!</div>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 mt-4">
      <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-0 g-lg-2 g-xl-3 h-100 m-0">
        <div class="col m-0 mb-3 mb-lg-2 mb-xl-0 ps-lg-0">
          <div class="card bg-primary h-100"
            data-bs-toggle="tooltip" data-bs-placement="top" title="{{ user['balance'] }}"
          >
            <div class="card-body text-light d-flex align-items-center">
              <span class="ms-2 me-4">
                <i class="bi bi-wallet2"></i>
              </span>
              <span class="d-flex flex-column">
                <div class="fw-light">Baki Akaun</div>
                <div class="fw-bold fs-4">
                  RM{{ (user['balance'][2:] < 1000) ? user['balance'][2:]|number_format(2, '.', ',') : user['balance'][2:]|number_format(0) }}
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="col m-0 mb-3 mb-lg-2 mb-xl-0 pe-lg-0">
          <div class="card bg-primary h-100"
            data-bs-toggle="tooltip" data-bs-placement="top" title="RM{{ user['spent'] }}"
          >
            <div class="card-body text-light d-flex align-items-center">
              <span class="ms-2 me-4">
                <i class="bi bi-receipt"></i>
              </span>
              <span class="d-flex flex-column">
                <div class="fw-light">Perbelanjaan</div>
                <div class="fw-bold fs-4">RM{{ (user['spent'] < 1000) ? user['spent']|number_format(2) : user['spent']|number_format() }}</div>
              </span>
            </div>
          </div>
        </div>
        <div class="col col-lg-12 m-0 pe-lg-0 ps-lg-0 ps-xl-3">
          <div class="card bg-primary h-100">
            <div class="card-body text-light d-flex align-items-center">
              <span class="ms-2 me-4">
                <i class="bi bi-bell"></i>
              </span>
              <span class="d-flex flex-column">
                <div class="fw-light">Status Akaun</div>
                <div class="fw-bold fs-4">VIP</div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {#% if paymentsList %#}
  {% if true %}
  <form method="post" action="">
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="bi bi-check-circle"></i>&nbsp;
      {{ successText }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-circle"></i>&nbsp;
      {{ errorText }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div class="row g-3 mb-3">

      <div class="col-12 col-sm-7 col-md-9">
        <label class="form-label" for="method">{{ lang('addfunds.method') }}</label>
        <select class="form-control" id="method" name="AddFoundsForm[type]" id="order_type">
          {% for payment in paymentsList %}
            <option value="{{ payment['id'] }}" {% if currentPayment == payment['id'] %}selected{% endif %}>{{ payment['name'] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-12 col-sm-5 col-md-3">
        <label class="form-label" for="amount">{{ lang('addfunds.amount') }}</label>
        <div class="input-group">
          <span class="input-group-text">RM</span>
          <input placeholder="Masukkan amaun topup" type="number" class="form-control" name="AddFoundsForm[amount]" id="amount">
        </div>
      </div>

    </div>

    {% if site['cpf_field'] %}
    <div class="mb-3">
      <label class="form-lable" for="cpf">{{ lang('addfunds.cpf') }}</label>
      <input type="text" class="form-control"  name="AddFoundsForm[cpf]" id="cpf">
    </div>
    {% endif %}

    <input type="hidden" name="_csrf" value="{{ csrftoken }}">
    <div class="mb-3">
      <button type="submit" class="btn btn-primary btn-lg">Hantar&nbsp;&nbsp;<i class="bi bi-credit-card"></i></button>
    </div>

  </form>
  {% endif %}

  <div class="mb-3" id="addfunds-payment-manual">
    <div class="rounded shadow p-md-6">
      <div class="d-flex flex-column justify-content-center">
        <div class="card">
          <div class="p-4 p-lg-5 d-flex flex-column">
            <h4 class="fw-bold my-4 align-self-center">Bayar di kaunter kedai runcit</h4>
            <div class="align-self-center shadow rounded-3 p-3 my-5">
              <ul class="nav nav-pills nav-justified mb-3 flex-sm-row flex-column" id="pills-tab" role="tablist">
                <li class="nav-item flex-grow-1" role="presentation">
                  <button class="nav-link w-100 active" id="pills-touchngo-tab" data-bs-toggle="pill" data-bs-target="#pills-touchngo" type="button" role="tab" aria-controls="pills-touchngo" aria-selected="true">Touch 'n' Go</button>
                </li>
                <li class="nav-item flex-grow-1" role="presentation">
                  <button class="nav-link w-100" id="pills-shopeepay-tab" data-bs-toggle="pill" data-bs-target="#pills-shopeepay" type="button" role="tab" aria-controls="pills-shopeepay" aria-selected="false">ShopeePay</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-touchngo" role="tabpanel" aria-labelledby="pills-touchngo-tab">
                  <div class="w-100 d-flex flex-column align-items-center py-4 px-4 px-xl-6">
                    <h5 class="text-muted text-center">MOHAMMAD IQBAL BIN MOHD ROZALI</h5>
                    <img class="img-fluid my-4 my-xl-5 mx-sm-6" src="https://cdn.mypanel.link/af5a5a/tptg4tlxottoo295.jpeg" style="max-width:180px;">
                    <h5 class="text-muted text-center">Scan menggunakan Touch 'n Go app<br>anda untuk lakukan pembayaran</h5>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-shopeepay" role="tabpanel" aria-labelledby="pills-shopeepay-tab">
                  <div class="w-100 d-flex flex-column align-items-center py-4 px-4 px-xl-6">
                    <h5 class="text-muted text-center">MOHAMMAD IQBAL BIN MOHD ROZALI</h5>
                    <img class="img-fluid my-4 my-xl-5 mx-sm-6" src="https://cdn.mypanel.link/af5a5a/n3zaapp185ay2f9u.jpeg" style="max-width:180px;">
                    <h5 class="text-muted text-center">Scan menggunakan Shopeepay app<br>anda untuk lakukan pembayaran</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-4 mx-lg-6">
              <p class="text-muted">
                Walk in ke kaunter di store yang terima QR Payment, scan gambar di atas, berikutan jumlah yang mahu ditambah ke dalam akaun.
              </p>
              <p class="text-muted">
                Antara store yang terima; 7-Eleven, Econsave, Watsons, X-Kiosk, Shell, Petronas, KK, Speedmart, Tesco.
              </p>
              <p class="text-muted">
                Selepas pembayaran, terus klik butang wasap di bawah dan hantar resit pembayaran.
              </p>
              
            </div>
            <a href="http://Wasap.my/60189133685" target="_blank" class="my-4 btn btn-success btn-lg align-self-center px-4">Whatsapp Admin <i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
        <div class="d-flex justify-content-center position-relative py-4 py-sm-5 mx-5 mx-md-0">
          <div class="bg-white p-2">
            <span class="text-sm text-muted text-center">ATAU</span>
          </div>
          <hr class="m-0 position-absolute top-50 w-100" style="z-index: -1;">
        </div>
        <div class="card overflow-hidden">
          <div class="p-4 p-lg-5" style="z-index: 1;">
            <h4 class="fw-bold mb-5 me-md-7">Touch ‘n Go Mobile Number Transfer</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="me-md-7 d-flex flex-column">
                <p class="m-0 text-muted">Transfer ke nombor berikut menggunakan aplikasi Touch ‘n Go.</p>
                <div class="align-self-start justify-content-evenly my-3 px-3 py-1 rounded-10 text-muted d-flex align-items-center gap-2 fs-4" style="background-color: #f8f9fa;">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24px" height="24px">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
                  </svg>
                  <span style="transform: translateY(1px);">0199947574</span>
                </div>
    
                <p class="m-0 mb-5 text-muted">Kemudian klik butang whatsapp dan terus hantar resit pembayaran</p>
                <a href="http://Wasap.my/60189133685" target="_blank" class="btn btn-success btn-lg align-self-start px-4">Whatsapp Admin <i class="bi bi-whatsapp"></i></a>
              </div>
              <img id="addfunds-manual-mobiletransfer-image" src="https://cdn.mypanel.link/af5a5a/fhk9a3e12ka3btsh.png" alt="" class="img-fluid position-absolute">
            </div>
            <div class="position-absolute w-100 h-100 top-0 start-0"
              style="
                z-index: -1;
                background: hsla(0, 0%, 98%, 1);

                background: linear-gradient(0deg, hsla(0, 0%, 98%, 1) 0%, hsla(0, 0%, 100%, 0) 100%);
                
                background: -moz-linear-gradient(0deg, hsla(0, 0%, 98%, 1) 0%, hsla(0, 0%, 100%, 0) 100%);
                
                background: -webkit-linear-gradient(0deg, hsla(0, 0%, 98%, 1) 0%, hsla(0, 0%, 100%, 0) 100%);
                
                filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBFBFB", endColorstr="#FFFFFF", GradientType=1 );                
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if paymentList %}

    <div class="table-responsive rounded-5 shadow">
      <table class="table table-striped">
        <thead class="table-primary">
          <tr>
            <th>{{ lang('addfunds.id') }}</th>
            <th>{{ lang('addfunds.date') }}</th>
            <th>{{ lang('addfunds.method') }}</th>
            <th>{{ lang('addfunds.amount') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in paymentList %}
          <tr>
            <td>{{ payment['id'] }}</td>
            <td><small class="text-muted text-nowrap">{{ payment['date'] }}</small></td>
            <td>{{ payment['method'] }}</td>
            <td>
              {% if payment['original_amount'] %}
                <span data-toggle="tooltip" data-placement="left" title="{{ payment['original_amount'] }}&nbsp;{{ payment['original_currency'] }}">≈ {{ payment['amount'] }}</span>
              {% else %}
                {{ payment['amount'] }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if pagination['count'] > 50 %}
    <div class="nav-pills">
      <ul class="pagination {% if site['rtl'] %} rtl-pagination {% endif %}">
        {% if pagination['current'] != 1 %}
          <li>
            <a href="{{ page['url'] }}/{{ pagination['last'] }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        {% set r, l = 3, 3 %}

        {% if pagination['current'] == 1 %}
          {% set r = 6 %}
        {% endif %}

        {% if pagination['current'] == 2 %}
          {% set r = 5 %}
        {% endif %}

        {% if pagination['current'] >= pagination['pages'] %}
          {% set l = 5 %}
        {% endif %}

        {% for i in 1..ceil(pagination['pages']) %}
          {% if i >= (pagination['current']-l) and i <= (pagination['current']+r) %}
            <li{% if i == pagination['current'] %} class="active"{% endif %}><a href="{{ page['url'] }}/{{i}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}

        {% if pagination['current'] < pagination['pages'] %}
          <li>
            <a href="{{ page['url'] }}/{{ pagination['next'] }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}

  {% endif %}
</div>

<div class="bg-light-tinted py-4">
  <div class="container-md">
    {{ addfunds }}
  </div>
</div>

<script>
  document.getElementById('method').onchange = () => { setTimeout(() => {
    document.getElementById('amount').disabled = document.getElementById('method').value == 51863
    if (document.getElementById('method').value == 51863) {
      document.getElementById('addfunds-payment-manual').classList.remove('d-none')
    } else {
      document.getElementById('addfunds-payment-manual').classList.add('d-none')
    }
 }, 5 ) }
</script>